.catalog {
    font-family: Ubuntu;
    width: 420px;
    height: 465px;
    margin-top: 40px;
}

.content {
    display: flex;
    flex-direction: column;
    width: 410px;
    margin: 0 auto;
}

.text {
    
    color: #232323;
    font-size: 15px;
    margin: 20px 0 20px 0;
    width: 410px;

}

.price {
    color: #0009EA;
    font-size: 32px;
    font-weight: 500;
}

.footer {
    
    display: flex;
    
    align-items: center;
   
    gap: 80px;
    width: 410px;

}